body{
  background-color: #222;
  font-family: 'Roboto Serif', serif;
  color:#81bb55;
}
.container{
  text-align: center;
  display: block;
}
.board{
  display: flex;
  margin: 10px auto;
  justify-content: center;
}
.grid{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #81bb55;
  z-index: 1;
  border: 1px solid #81bb55;
  box-shadow: 0 0 5px #81bb55;
}
.grid div, .minigrid div{
  border:1px solid #2c2c2c;
  z-index:0;
}
.grid div.taken{
  border: 1px solid #222;
}
.rightside{
  margin-left: 20px;
  text-align: left;
}
#score{
  display: block;
  margin-top: 10px;
  font-size: x-large;
  text-align: center;
  color: #fec11d;
}
.minigridcontainer{
  padding: 10px;
  border: 1px solid #81bb55;
  box-shadow: 0 0 5px #81bb55;
}
.minigrid{
  display: flex;
  flex-wrap:wrap;
}
#buttonPause, #buttonrestart{
padding: 10px 20px;
font-family: 'Roboto Serif', serif;
margin: 20px 10px;
cursor: pointer;
background: rgb(129,187,85);
background: linear-gradient(0deg, rgba(129,187,85,1) 0%, rgba(254,193,29,1) 100%);
}
#buttonPause.active{
  background: rgb(129,187,85);
background: linear-gradient(0deg, rgba(129,187,85,1) 0%, rgba(70,99,47,1) 100%);
}
.tetromino{
  -webkit-box-shadow: inset 1px 1px 10px 0px rgba(255,250,255,0.5);
-moz-box-shadow: inset 1px 1px 10px 0px rgba(255,250,255,0.5);
box-shadow: inset 1px 1px 10px 0px rgba(255,250,255,0.5);
position: relative
}
.tetromino:before{
  content:"";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1px;
}
.orange{
  background-color: #f9844a;
}
.orange:before{
  box-shadow: 0 0 10px #f9844a;
}
.red{
  background-color: #df2882;
}
.red:before{
  box-shadow: 0 0 10px #df2882;
}
.yellow{
  background-color: #fec11d;
}
.yellow:before{
  box-shadow: 0 0 10px #fec11d;
}
.green{
  background-color: #66c73a;
}
.green:before{
  box-shadow: 0 0 10px #66c73a;
}
.blue{
  background-color: #0197af;
}
.blue:before{
  box-shadow: 0 0 10px #0197af;
}